html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 1000px;
  max-width: 1000px;
  height: 100%;
}

.card {
  border-radius: 100px;
  overflow: hidden;
  width: 100px;
  height: 600px;
  margin: 20px;
  transition: width 1s ease-in-out;
}

.active {
  width: 800px;
}
